<div class="container">
  <div class="row">
    <div class="cd-md-12">
      <h2>Naš tim</h2>
    <h3> ReFresh Novi Sad čini tim ljudi
     posvećenih razvoju Crowdfundinga u Srbiji.</h3>
      </div>
  </div>
</div>
<hr>

<div class="container">
  <div class="row">
    <div class="col-md-3 about-card">
      <div class="image">
        <img src="https://scontent.fbeg2-1.fna.fbcdn.net/v/t1.0-9/13267744_10209749157749814_9169020206598875723_n.jpg?_nc_cat=0&oh=fe166b8bae3a8fe953e9804d6d601334&oe=5BA077FF"  class="img-thumbnail img-circle">
      </div>
      <h3>Marijana Zarić</h3>
      <p>Senior Developer</p>
    </div>
    <div class="col-md-3 about-card">
        <div class="image">
          <img src="https://scontent.fbeg2-1.fna.fbcdn.net/v/t1.0-9/22050206_10210244799545265_2485938828598097798_n.jpg?_nc_cat=0&oh=1afa4faff15968a527f8484af7137c66&oe=5BAEAC38" class="img-thumbnail img-circle">
        </div>
        <h3>Žarko Jovanović</h3>
        <p>Senior Developer</p>
      </div>
      <div class="col-md-3 about-card">
          <div class="image">
            <img src="https://scontent.fbeg2-1.fna.fbcdn.net/v/t1.0-0/p370x247/15400546_10211392938248659_6851188665132721859_n.jpg?_nc_cat=0&oh=032e78a12b676a898f8a3b25c271be94&oe=5BEA9569" class="img-thumbnail img-circle">
          </div>
          <h3>Aleksandar Kovačević</h3>
          <p>Senior Developer</p>
        </div>
        <div class="col-md-3 about-card">
            <div class="image">
              <img src="https://scontent.fbeg2-1.fna.fbcdn.net/v/t1.0-9/12011128_1608350142760274_3768503881004407234_n.jpg?_nc_cat=0&oh=2f946bdaa4c10ee99a0755d841542a17&oe=5BE5D0F9" class="img-thumbnail img-circle">
            </div>
            <h3>Tanja Čučurović</h3>
            <p>Senior Deveoper</p>
          </div>
  </div>
</div>